*{
    margin: 0;
    padding: 0;
    
}

body{
    background-size: cover;
    background-image: url("lhu_splash.png");
}

nav{
    width: 100%;
    height: 60px;
    /* background-color: #faf; */
    background-color: #a4263c;
}

nav p{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 55px;
    float: left;
    padding: 0px 24px;

}

nav ul{
    float: left;
}

nav ul li, form, button, input {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;

}

nav ul li ul {

    display: none;
    position: absolute;
    background-color: beige;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {

    display: block;

    
}

nav ul li ul li{

    width: 275px;
    border-radius: 4px;
}

nav ul li ul li a {

    padding: 8px 14px;
}

nav ul li ul li a:hover {

    background-color:  #a4263c;
}

 form {

    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 14px;
    text-decoration: none;
    
} 
input{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    padding: 10px 14px;
    text-decoration: none;
}

button{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 10px;
    padding: 5px 7px;
    text-decoration: none;
}   

table{
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    padding-top: 30px;

}


td{
    text-decoration: bold;
}
 

table td,
table th {
    border: 1px sotdd #ddd;
    padding: 8px;
}

 table tr:nth-child(even){
    background-color: beige;
}

table tr:nth-child(odd){
    background-color: beige;
}



table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f3f;
    color: white;
}

#options_button{
    display: block;
    width: 90px;
}

td.description{
    width: 100%;
}

h1{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    color: black;
  
    
}

div.center-info{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#table_button_mobile_game_app, #destroy_button{
    width:100%
}

#div_mobile_game_app{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#big{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

#but1{
    width: 100%;
    border: 2px solid #f3f;
    font-size: 17px;
    background-color: aqua;
}

#but1:hover{
    color: darkblue;
    border: 2px black;
    border-style: inset;
}


.but1{
    width: 90%;
    border: 2px solid #f3f;
    font-size: 22px;
}

.center-info{
    padding-top: 20px;
}

/* .left-info{
    display: flex;
    justify-content: left;
    align-self: left;
    text-align: left;
} */

.subdivision{
    font-size: 18px;
    padding-top: 10px;
}

.subdivision:hover{
    color: red;
}

.inset-wrap{
    border: 5px solid #f3f;
    background-color: #a4263c;
    margin-top: 15px;
}

.left-info{
    background-color: #a4263c;
}


div.invisible{
    font-size: 10px;
}

form.button{
    display:inline;
}

input.filter{
    width: 340px;
}

h1 {
    font-size: 32px;
}

p{
    font-size: 20px;
    align-content: center;
}

div.info-list{
    font-size: 20px;
}




/* Sarah's Portion 
------------------
------------------
------------------
*/



header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    
}

h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;    
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px; 
} 

li.sarah-li{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    line-height: 1.5em;
}

p.sarah-p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    line-height: 1.5em;
}

footer{
    text-align: center
}

/* table, td{
    border: 3px solid black;
    border-collapse: collapse;
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 50px
}
 */











